/* ubuntu-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Regular'), local('Roboto-Regular'),
       url('./roboto/Roboto-Regular.ttf') format('truetype');
}